In [1]:
#lambda expression

In [2]:
test = lambda x:x*2;
test(5)

10

In [3]:
testadd = lambda x,y:x+y;

In [4]:
testadd(3,4)

7

In [5]:
m = lambda x, y, c,z: x+y+c+z;

In [6]:
m(1,2,4,5)

12

In [7]:
square = lambda x: x**2 
square(5)

25

In [8]:
addvar = lambda arg1, arg2:arg1+arg2;

#now you can call the function
print("value of total :",addvar(8,9))
print("value of total :",addvar(8,7))

value of total : 17
value of total : 15

In [9]:
#converting tempartue in fahrenhite
def fahrenhite(t):
    return ((float(9)/(5))*(t-32)

SyntaxError: unexpected EOF while parsing (<ipython-input-9-205a0ad72901>, line 3)

In [16]:
mylist = [1,2,3,4]
list(map(lambda x : x*2, mylist))

[2, 4, 6, 8]

In [17]:
c =  [35, 4]
F= list(map(lambda x:(float(9)/5)*x + 32,c))
print(F)

[95.0, 39.2]

In [18]:
c = list(map(lambda x: (float(5)/(9))*(x-32),F))
print(c)

[35.0, 4.000000000000002]

In [19]:
newlist = [round(x,2) for x in c]
newlist

[35.0, 4.0]

In [1]:
 def sum1 (x,y):
        print("add =",x+y)

def main():
    sum1(20,45)
    print ('this is main function')

In [4]:
main()

add = 65
this is main function

#calling main function in python

In [5]:
if __name__=='__main__':
    main()

add = 65
this is main function

In [14]:
#class

class car:
    
    # atttributes
    year =2019
    mpg =22
    speed =100
    
    #methods
    
    def accelerater(self):
        return car.speed + 20
    
    def breakpad(self):
        return car.speed + 50

In [19]:
car1=car()
car1.accelerater()

120

In [21]:
car1.breakpad()

150

In [22]:
class myclass:
    k=23 # attribute member
    d = 6.7
    
    def testf(self):
        m=myclass()   #creating object/instance 
        #calling the attribute with member function

In [23]:
def greeting(name):
    print("hello %s" %(name))

In [24]:
greeting('Jose')

hello Jose

In [26]:
def num(num1,num2):
    return num1+num2

In [27]:
num(45,45)

90

In [33]:
#prime number
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print(num, 'Is not prime number')
            break
        else:
            print(num,"Is prime number")

In [37]:
is_prime(17)

17 Is prime number

In [38]:
import math

def is_prime2(num): 
    #better method for checking for primes number
    
    if num % 2 == 0 and num > 2:
        return False
    for i in range (3, int(math.sqrt(num)) +1, 2):
        if num % i == 0:
            return False
    return True

In [42]:
is_prime2(21)

False

In [51]:
def lesser_of_two_even(a,b):
    if a%2 ==0 and b%2== 0:
        
        print(f"Both a: {a} and {b} are even number, max is", max(a,b))
    elif a%2 ==0 or b%2== 0:
            return min(a,b) 
    else:
        print(f"Both a: {a} and {b} are odd number",max(a,b))

In [54]:
lesser_of_two_even(3,5)

Both a: 3 and 5 are odd number 5

In [59]:
#animal craker 

def animal_cracker(str1, str2): 
    if str1[0] == str2[0]:
        return True
    else:
        return False

In [60]:
animal_cracker('tacker','cricket' )

False

In [65]:
def animal_cracker(text):
    wordlist =text.lower().split()
    
    return wordlist[0][0] == wordlist[1][0]

In [66]:
animal_cracker('Crazy hero')

False

In [72]:
def makes_twenty(n1,n2):
    if n1+n2 ==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [75]:
makes_twenty(20,9)

True

In [87]:
def capital(name):
    result = name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    print(result)

In [89]:
capital('macdonalad')

MacDonalad

In [104]:
def master_yoda(sentance):
    words = sentance.split()
    return ' ' .join(words[::-1])

In [105]:
master_yoda('we are not aloan')

'aloan not are we'