# pandas Final

In [1]:
import pandas as pd
import numpy as np

In [4]:
a=pd.Series([1,2,3,4,5,6,7,8,9,10])
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
a=pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
b=pd.Series([11,22,33,44,55])
b

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [9]:
a=pd.Series([12,45,45,45,65],index =[10,11,12,13,14])
a

10    12
11    45
12    45
13    45
14    65
dtype: int64

In [12]:
a=pd.Series([10,4,5,7,8,9],index=[4,5,6,7,5,8])
a

4    10
5     4
6     5
7     7
5     8
8     9
dtype: int64

In [14]:
a=pd.Series([1,2,3,4,5],index=[18,17,16,15,14])
a

18    1
17    2
16    3
15    4
14    5
dtype: int64

In [17]:
#Series(data, index, dtype)

s=pd.Series([1,2,3,4], index=[5,4,3,2], dtype=float)
s

5    1.0
4    2.0
3    3.0
2    4.0
dtype: float64

In [19]:
#accessing the data from Series
s=pd.Series([20,34,39,42,59])
print(s[0])

20

In [20]:
s[3]

42

In [21]:
#Retriving the first three elements
s=pd.Series([10,20,40,50,60,70,80])
print(s[0:3])

0    10
1    20
2    40
dtype: int64

In [22]:
#passing the data form list
data =np.array([1,2,3,4])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
dtype: int32

In [27]:
a=np.array([10,11,12])
s=pd.Series(a)
s

0    10
1    11
2    12
dtype: int32

In [28]:
userdata = {'name':'adarsh','age':12}

In [30]:
s1 =pd.Series(userdata)
s1

name    adarsh
age         12
dtype: object

In [31]:
# task  Create one dictionary object with criketer name and run and passs it padnas series

playerdata ={'Name':"Dravid", 'runs':180,'inngis':3,'balls':56}
playerdata

{'Name': 'Dravid', 'runs': 180, 'inngis': 3, 'balls': 56}

In [34]:
player =pd.Series(playerdata)
player

Name      Dravid
runs         180
inngis         3
balls         56
dtype: object

In [35]:
st_data ={'sql':80,'python':90,'jave':70,'html':80}

In [37]:
s_data =pd.Series(st_data)
s_data

sql       80
python    90
jave      70
html      80
dtype: int64

In [38]:
s=pd.Series([10,20,15,40,56,41,45])

In [39]:
s[2:4]

2    15
3    40
dtype: int64

In [45]:
s[-6:-3]

1    20
2    15
3    40
dtype: int64

In [48]:
s[-6:-2]

1    20
2    15
3    40
4    56
dtype: int64

In [49]:
s[1:4]

1    20
2    15
3    40
dtype: int64

In [50]:
s[:5]

0    10
1    20
2    15
3    40
4    56
dtype: int64

In [1]:
s[0:5]

NameError: name 's' is not defined