In [1]:
import pandas as pd 
import numpy as np

In [2]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [3]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range('20200301', periods=10)

In [5]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df1 = pd.DataFrame(np.random.randn(10,4), index=d, columns= ['A','B','C','D'])

In [7]:
df

NameError: name 'df' is not defined

In [ ]:
df1 = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20201201'),
                   'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([5]*4, dtype = 'int32'),
                   'E': pd.Categorical(['True','Flase','True','Flase']),
                   'F':'huggi'})

In [8]:
df1.head()

                   A         B         C         D
2020-03-01 -0.436711  0.169918 -0.960589  2.217787
2020-03-02 -0.451670 -1.141664 -0.429558  1.366910
2020-03-03  0.444161 -0.877601 -0.255977  1.940872
2020-03-04 -0.440285  1.089732 -1.290597  0.082254
2020-03-05  1.003785 -1.259428  1.516781 -0.385117

In [9]:
df1.tail()

                   A         B         C         D
2020-03-06 -0.379799 -1.182618 -0.500054  0.161044
2020-03-07  1.334166 -1.362845 -0.188944  0.635118
2020-03-08  0.108147  1.168943  1.676352 -1.068702
2020-03-09 -0.720215 -0.430228  0.388646  0.653105
2020-03-10 -1.335474 -0.043629  1.332052 -0.130276

In [10]:
df1.to_numpy()

array([[-0.43671056,  0.16991813, -0.96058939,  2.2177872 ],
       [-0.45166969, -1.14166421, -0.42955825,  1.36691048],
       [ 0.44416105, -0.87760145, -0.25597672,  1.94087173],
       [-0.44028482,  1.08973192, -1.29059741,  0.08225434],
       [ 1.00378478, -1.25942816,  1.5167807 , -0.38511707],
       [-0.37979927, -1.18261789, -0.50005373,  0.16104426],
       [ 1.33416636, -1.36284491, -0.18894417,  0.63511805],
       [ 0.10814709,  1.16894272,  1.67635249, -1.06870231],
       [-0.72021522, -0.43022758,  0.38864596,  0.65310513],
       [-1.33547363, -0.04362902,  1.33205213, -0.1302758 ]])

In [11]:
df1.to_numpy()

array([[-0.43671056,  0.16991813, -0.96058939,  2.2177872 ],
       [-0.45166969, -1.14166421, -0.42955825,  1.36691048],
       [ 0.44416105, -0.87760145, -0.25597672,  1.94087173],
       [-0.44028482,  1.08973192, -1.29059741,  0.08225434],
       [ 1.00378478, -1.25942816,  1.5167807 , -0.38511707],
       [-0.37979927, -1.18261789, -0.50005373,  0.16104426],
       [ 1.33416636, -1.36284491, -0.18894417,  0.63511805],
       [ 0.10814709,  1.16894272,  1.67635249, -1.06870231],
       [-0.72021522, -0.43022758,  0.38864596,  0.65310513],
       [-1.33547363, -0.04362902,  1.33205213, -0.1302758 ]])

In [12]:
df1.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.087389  -0.386942   0.128811   0.547300
std     0.813443   0.953837   1.053799   1.039694
min    -1.335474  -1.362845  -1.290597  -1.068702
25%    -0.448823  -1.172379  -0.482430  -0.077143
50%    -0.408255  -0.653915  -0.222460   0.398081
75%     0.360158   0.116531   1.096201   1.188459
max     1.334166   1.168943   1.676352   2.217787

In [15]:
df1= np.sort_index(axis =2,ascending = True)

AttributeError: module 'numpy' has no attribute 'sort_index'