In [1]:

for i in  [ "lemon ","apples",'ornages', "banana"]:
    if i == 'oranges':
        break
    print(i)

lemon
apples
ornages
banana

In [2]:
for i in ['lemon', 'apple','oranges','banana']:
    if i == 'oranges':
        continue
    print(i)

lemon
apple
banana

In [3]:
color = ["red","yellow","green","purple"]
for i in color:
    if i == "yellow":
        break
print(i)

yellow

In [4]:
marks =10
if marks>80:
    print("Excelent")
else:
    print("good")

good

In [5]:
fact =2 
num =12
if num%fact == 0:
    print("Even")
else:
    print("Odd")

Even

In [6]:
m=40
if(m>20):
    print("good")
else:
    print("average")
print("end")

good
end

In [7]:
k = int(input("enter the value "))
if  k%2==0:
    print(f"Value of k is {k} Even number")
else:
    print(f"value of give number is {k} Odd number")

enter the value 1
value of give number is 1 Odd number

In [8]:
word = "WEL come to python"
word

'WEL come to python'

In [9]:
word.upper()

'WEL COME TO PYTHON'

In [10]:
word.split()

['WEL', 'come', 'to', 'python']

In [11]:
word.split("e")

['WEL com', ' to python']

In [12]:
word2 ="python"
word2.isalpha()

True

In [13]:
#swap function convert the upper case to lower case or lower to upper , opposite  to existed string 
word.swapcase()

'wel COME TO PYTHON'

In [14]:
#string function  
str1 = "New"
str2 = "Horizon"
print(str1 + str2)
print(str1+ ' ' +str2)

NewHorizon
New Horizon

In [15]:
#This prints out "hello jhon "
name = "jhon "
print("Hello, %s!" %name )

Hello, jhon !

In [16]:
#this prints out "jhon i s 23 years old"
name = "Jhon"
age =23
print("Hello my name is %s and my age is %d" % (name,age))

Hello my name is Jhon and my age is 23

In [17]:
x = "apples"
y = "lemons"
z = "I have %s and %s" %(x,y)
print(z)

I have apples and lemons

In [18]:
name = "jhon"
age = 24
print("This is my name {} and i am {} year old".format(name, age))

This is my name jhon and i am 24 year old

In [19]:
print('{0} and {1}'.format('spam','eggs'))
print('{1} and {0}'.format('spam','eggs'))

spam and eggs
eggs and spam

In [20]:
#functions

In [21]:
#help()

In [22]:
def userlogin():
    if userid == "password":
        print("successully logged in")
    else:
        print("incorrect user is and password")

In [24]:
def myfunc():
    a=10
    b=20
    c= a*b
    print("the value of c is ", c)

In [25]:
myfunc()

the value of c is  200

In [26]:
def areaofractangle(bredth,length):
    area = length * bredth
    print("area of ractangle:",area)

In [27]:
areaofractangle(5,10)

area of ractangle: 50

In [28]:
def AreaOfCircle(radius):
    pi=3.143
    area= pi*(radius**2)
    print("Area Of circle is ", area)

In [29]:
AreaOfCircle(8)

Area Of circle is  201.152

In [32]:
def sqrt():
    p = int(input("enter the value for sqrt :"))
    print("Squareroot of entered value is ",(p** .5))

In [33]:
sqrt()

enter the value for sqrt :55
Squareroot of entered value is  7.416198487095663

In [42]:
def run():
    for x in range(6):
        print(x, end = " ")

In [43]:
run()

0 1 2 3 4 5

In [50]:
def run():
    for x  in range(10):
        if x== 5:
            return 
        print("practice Python")

In [51]:
#
run()

practice Python
practice Python
practice Python
practice Python
practice Python

In [53]:
def sumfunc(arg1,arg2):
    #add both the parameters and return them
    total = arg1 + arg2
    print("inside the function:",total)
    return total

In [54]:
tot = sumfunc(10,20)

inside the function: 30

In [62]:
# using * you can give N args

def pluse(*args):
    return sum(args), max(args), min(args)

In [63]:
pluse(4,5,5,7,8,9)

(38, 9, 4)

In [68]:
def sumfunc(*num):
    s=0
    for n in num:
        s+=n
    return s

In [69]:
sumfunc(1,3,4,5,)

13