In [1]:
list1 =["apple", "banana", "custerd apple", 1,45,67,20.05]

In [4]:
len(list1)

8

In [3]:
list1.append("fineapple")

In [5]:
list1

['apple', 'banana', 'custerd apple', 1, 45, 67, 20.05, 'fineapple']

In [12]:
list1[1][2]

'n'

In [13]:
list1[:]

['apple', 'banana', 'custerd apple', 1, 45, 67, 20.05, 'fineapple']

In [15]:
list1[:5]

['apple', 'banana', 'custerd apple', 1, 45]

In [1]:
list2= ["kiwi", "pappay","banana","apple","mangao","orange"]

In [2]:
list2

['kiwi', 'pappay', 'banana', 'apple', 'mangao', 'orange']

In [3]:
list2[-3:-1]

['apple', 'mangao']

In [4]:
list2[-4:]

['banana', 'apple', 'mangao', 'orange']

In [5]:
list2[-4: -2]

['banana', 'apple']

In [6]:
list2[-5: -3]

['pappay', 'banana']

In [7]:
list2[-6: -2]

['kiwi', 'pappay', 'banana', 'apple']

In [8]:
list2[-6: -1]

['kiwi', 'pappay', 'banana', 'apple', 'mangao']

In [10]:
list2[:-1]

['kiwi', 'pappay', 'banana', 'apple', 'mangao']

In [12]:
list2[-6:]

['kiwi', 'pappay', 'banana', 'apple', 'mangao', 'orange']

In [13]:
list2.insert(5,"melon")

In [14]:
list2

['kiwi', 'pappay', 'banana', 'apple', 'mangao', 'melon', 'orange']

In [15]:
list2.pop()

'orange'

In [16]:
list2.remove("mangao")

In [17]:
list2

['kiwi', 'pappay', 'banana', 'apple', 'melon']

In [18]:
list2.extend(["jackfruit", "sugarcane","graps","mango"])

In [20]:
list2

['kiwi',
 'pappay',
 'banana',
 'apple',
 'melon',
 'jackfruit',
 'sugarcane',
 'graps',
 'mango']

In [43]:
fruits=["apples","grapes","oranges","banana"]
veggies= ["corn","brinzal","kale","cucumber"]
fruits.append(veggies)
fruits

['apples',
 'grapes',
 'oranges',
 'banana',
 ['corn', 'brinzal', 'kale', 'cucumber']]

In [44]:
fruits.extend(veggies)
fruits

['apples',
 'grapes',
 'oranges',
 'banana',
 ['corn', 'brinzal', 'kale', 'cucumber'],
 'corn',
 'brinzal',
 'kale',
 'cucumber']

In [45]:
grocerylist = fruits + veggies
grocerylist

['apples',
 'grapes',
 'oranges',
 'banana',
 ['corn', 'brinzal', 'kale', 'cucumber'],
 'corn',
 'brinzal',
 'kale',
 'cucumber',
 'corn',
 'brinzal',
 'kale',
 'cucumber']

In [40]:
fruits.clear()

In [41]:
fruits

[]

In [35]:
del fruits

NameError: name 'fruits' is not defined

In [46]:
fruits[1]

'grapes'

In [47]:
fruits[1] = "flower"

In [50]:
fruits

['apples',
 'flower',
 'oranges',
 'banana',
 ['corn', 'brinzal', 'kale', 'cucumber'],
 'corn',
 'brinzal',
 'kale',
 'cucumber']

In [57]:
tuple1 =(1,2,3,4,5,6,7,8,"sara","mira","share","khan")

In [58]:
tuple2 =(7,8,9)

In [59]:
tuple3 = tuple1+tuple2

In [60]:
tuple3

(1, 2, 3, 4, 5, 6, 7, 8, 'sara', 'mira', 'share', 'khan', 7, 8, 9)

In [63]:
#tuples values cant be changed the  after the creation
tuple3[2]=85

TypeError: 'tuple' object does not support item assignment

In [66]:
dict1 = {"Name": "zara", "Age":27, "class": "first class"}
dict1

{'Name': 'zara', 'Age': 27, 'class': 'first class'}

In [69]:
print(dict1["class"])

first class

In [70]:
len(dict1)

3

In [71]:
dict1.keys()

dict_keys(['Name', 'Age', 'class'])

In [72]:
dict1.values()

dict_values(['zara', 27, 'first class'])

In [73]:
dict1.items()

dict_items([('Name', 'zara'), ('Age', 27), ('class', 'first class')])

In [77]:
dict1.update({"fee":100000})
dict1

{'Name': 'zara', 'Age': 27, 'class': 'first class', 'fee': 100000}

In [78]:
dict1["fee"]=950000

In [79]:
dict1

{'Name': 'zara', 'Age': 27, 'class': 'first class', 'fee': 950000}

In [82]:
color = {"Rock":"Brown","trees":"green","apple":"red","banana":"yellow"}

In [83]:
print(color)

{'Rock': 'Brown', 'trees': 'green', 'apple': 'red', 'banana': 'yellow'}

In [84]:
intdict = {10:"C++",20:"Java",30:"Ruby",40:"python"}

In [85]:
intdict

{10: 'C++', 20: 'Java', 30: 'Ruby', 40: 'python'}

In [87]:
intdict.update({50:"Rails"})
intdict

{10: 'C++', 20: 'Java', 30: 'Ruby', 40: 'python', 50: 'Rails'}

In [90]:
intdict[40]= "C#"
intdict

{10: 'C++', 20: 'Java', 30: 'Ruby', 40: 'C#', 50: 'Rails'}

In [92]:
intdict.pop(30)

'Ruby'

In [93]:
intdict.items()

dict_items([(10, 'C++'), (20, 'Java'), (40, 'C#'), (50, 'Rails')])

In [94]:
newdict ={1:["red","green","yellow"],2:["white", "pink","perple"],3:["brown","yellow","light green"]}

In [95]:
newdict

{1: ['red', 'green', 'yellow'],
 2: ['white', 'pink', 'perple'],
 3: ['brown', 'yellow', 'light green']}

In [96]:
newdict.values()

dict_values([['red', 'green', 'yellow'], ['white', 'pink', 'perple'], ['brown', 'yellow', 'light green']])

In [97]:
newdict.items()

dict_items([(1, ['red', 'green', 'yellow']), (2, ['white', 'pink', 'perple']), (3, ['brown', 'yellow', 'light green'])])

In [98]:
newdict.clear()

In [99]:
newdict

{}

In [100]:
del newdict

In [104]:
x= {1,2,4,5,6,7,8,99,9,9}

In [105]:
myset=set(x)

In [106]:
myset

{1, 2, 4, 5, 6, 7, 8, 9, 99}

In [107]:
myset.add(100)

In [108]:
myset

{1, 2, 4, 5, 6, 7, 8, 9, 99, 100}