In [1]:
#Necessary imports
import pandas as pd
import matplotlib.pyplot as plt
import pickle
%matplotlib inline

In [3]:
data =pd.read_csv('Advertising.csv') # reading the data file

In [4]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
#Lets create a DataFrame since the model expects it

x_new = pd.DataFrame({'TV':[50]})
x_new.head()

   TV
0  50

In [11]:
#create X and Y
feature_cols =['TV']
X =data[feature_cols]
y =data.sales


#folloe the visual sklearn pattern : import , Instantiate , fit
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

#model is getting trained
lm.fit(X, y)

#model is readdy for the prediction 
lm.predict(x_new)

array([9.40942557])