In [3]:
my_list = [1,2,3]

In [4]:
my_list = ['String', 100,23.1]

In [5]:
len(my_list)

3

In [6]:
mylist = ['one','two','three']

In [7]:
mylist

['one', 'two', 'three']

In [9]:
another_list=['four','five']

In [10]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [13]:
new_list = mylist + another_list

In [14]:
new_list

['one', 'two', 'three', 'four', 'five']

In [15]:
new_list

['one', 'two', 'three', 'four', 'five']

In [16]:
new_list[0] = 'one all caps'

In [17]:
new_list

['one all caps', 'two', 'three', 'four', 'five']

In [19]:
new_list.append('six')

In [20]:
new_list

['one all caps', 'two', 'three', 'four', 'five', 'six']

In [21]:
new_list.pop()

'six'

In [25]:
new_list.pop(0)

'one all caps'

In [26]:
new_list=[7,81,2,9,1,64,5,4]

In [27]:
new_list.sort()

In [28]:
new_list

[1, 2, 4, 5, 7, 9, 64, 81]

In [30]:
my_sorted_list = new_list.sort()

In [31]:
type(my_sorted_list)

NoneType

In [32]:
new_list.reverse()

In [33]:
new_list

[81, 64, 9, 7, 5, 4, 2, 1]

In [34]:
my_dict = {'key1': 'value1', 'key2':'value2'}

In [35]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [36]:
my_dict['key1']

'value1'

In [37]:
prices_lookup ={'apple':2.99, 'oranges':1.99, 'milk':5.8}

In [38]:
prices_lookup['apple']

2.99

In [39]:
d ={'k1':123, 'k2':{'inside':100}}

In [40]:
d['k2']

{'inside': 100}

In [41]:
d['k2']['inside']

100

In [42]:
d ={'key1':['a','b','c']}

In [44]:
d

{'key1': ['a', 'b', 'c']}

d['key1']

In [46]:
d['key1'][2].upper()

'C'

In [47]:
d ={ 'k1': 100, 'k2':200}

In [48]:
d['k3']=300

In [49]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [50]:
d['k1']= 'new value'

In [51]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [52]:
d.values()

dict_values(['new value', 200, 300])

In [53]:
d. items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

In [55]:
t =('a','b','c','c','r')

In [57]:
t.count('c')

2

In [58]:
t.index('a')

0

In [59]:
myset = set()

In [60]:
(myset

set()

In [61]:
myset.add(1)

In [62]:
myset

{1}

In [63]:
myset.add(2)

In [64]:
myset

{1, 2}

In [65]:
myset.add(2)

In [66]:
myset

{1, 2}

In [67]:
mylist =[1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5]

In [69]:
set(mylist)

{1, 2, 3, 5}

In [71]:
%%writefile myfile.txt
Hello this is a text file
this is the second line 
this is the third line

Writing myfile.txt

In [ ]:
myfile = open('myfile.txt)