In [123]:
#!pip install bs4
#!pip install requests

In [124]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

#### 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [125]:
page =requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [126]:
soup =BeautifulSoup(page.content)

In [127]:
#print(soup.prettify())

In [128]:
#finding the tags
heading=soup.find('h2', id="mp-tfa-h2")
#heading

In [129]:
#Separtaing the text from the tag
heading.text.replace('\n','')

"From today's featured article"

In [130]:
heading =soup.find_all('span', class_="mw-headline")

In [131]:
headings=[] #empty list for stare the 
for i in heading:
    headings.append(i.text)
    
#headings

In [135]:
import pandas as pd

Wiki =pd.DataFrame({})
Wiki['Headings']= headings


Wiki['Headings'].head()

0    From today's featured article
1                 Did you know ...
2                      In the news
3                      On this day
4         Today's featured picture
Name: Headings, dtype: object

### 2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [136]:
movies_name =requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
soup =BeautifulSoup(movies_name.content, 'html.parser')
movies_name

In [137]:
#checking for URL links 

url_tags =soup.find_all('div', class_="desc") #Extract next page URl
#url_tags

In [138]:
#to get URLS
urls =[]
for i in url_tags:
    for j in i.find_all("a"):
        urls.append(j['href'])
urls

['/search/title/?groups=top_100&sort=user_rating,desc&start=51',
 '/search/title/?groups=top_100&sort=user_rating,desc&start=51']

In [139]:
url='https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt'

In [140]:
#scarp data from multiple pages

Movies_names =[] #empty list

movies_name = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
soup = BeautifulSoup(movies_name.content, 'html.parser')
movies_name = soup.find_all("h3", class_="lister-item-header") 
    
for i in movies_name:
    Movies_names.append(i.text.replace("\n"," "))
        
#Movies_names

In [141]:
Movies_names1 =[]
movies_name1 =requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
soup = BeautifulSoup(movies_name1.content, 'html.parser')
movies_name1=soup.find_all("h3", class_="lister-item-header")
for i in movies_name1:
    Movies_names1.append(i.text.replace("\n"," "))
    
#Movies_names

In [142]:
Movies =pd.DataFrame({})
Movies['Name'] = Movies_names + Movies_names1

In [143]:
#creating the new column IMDB ranking 

Movies['IMDB_Ranking']= Movies['Name'].str[0:3]
Movies['Year']= Movies['Name'].str[-6:-2]
Movies['Name']= Movies['Name'].str[3:-7]
#Movies['IMDB_Ranking']
#Movies['Year']

In [144]:
Movies.head(100)

                                                 Name IMDB_Ranking  Year
0                           The Shawshank Redemption            1.  1994
1                                      The Godfather            2.  1972
2                                    The Dark Knight            3.  2008
3                             The Godfather: Part II            4.  1974
4                                       12 Angry Men            5.  1957
5      The Lord of the Rings: The Return of the King            6.  2003
6                                       Pulp Fiction            7.  1994
7                                   Schindler's List            8.  1993
8                                          Inception            9.  2010
9                                       . Fight Club            10  1999
10  . The Lord of the Rings: The Fellowship of the...           11  2001
11                                    . Forrest Gump            12  1994
12                 . Il buono, il brutto, il cattivo            13  1966
13           . The Lord of the Rings: The Two Towers            14  2002
14                                      . The Matrix            15  1999
15                                      . Goodfellas            16  1990
16  . Star Wars: Episode V - The Empire Strikes Back            17  1980
17                 . One Flew Over the Cuckoo's Nest            18  1975
18                                    . Gisaengchung            19  2019
19                                    . Interstellar            20  2014
20                                  . Cidade de Deus            21  2002
21                   . Sen to Chihiro no kamikakushi            22  2001
22                             . Saving Private Ryan            23  1998
23                                  . The Green Mile            24  1999
24                                 . La vita è bella            25  1997
25                                           . Se7en            26  1995
26                        . The Silence of the Lambs            27  1991
27                                       . Star Wars            28  1977
28                                         . Seppuku            29  1962
29                                 . Pather Panchali            30  1955
..                                                ...          ...   ...
70                         . Raiders of the Lost Ark            71  1981
71                                     . The Shining            72  1980
72                                  . Apocalypse Now            73  1979
73                                           . Alien            74  1979
74                               . Tengoku to jigoku            75  1963
75  . Dr. Strangelove or: How I Learned to Stop Wo...           76  1964
76                     . Witness for the Prosecution            77  1957
77                                  . Paths of Glory            78  1957
78                                    . Sunset Blvd.            79  1950
79                              . The Great Dictator            80  1940
80                                          . Jagten            81  2012
81                            . Inglourious Basterds            82  2009
82           . Eternal Sunshine of the Spotless Mind            83  2004
83                             . Requiem for a Dream            84  2000
84                                 . American Beauty            85  1999
85                               . Good Will Hunting            86  1997
86                                       . Toy Story            87  1995
87                                      . Braveheart            88  1995
88                                  . Reservoir Dogs            89  1992
89                                    . Idi i smotri            90  1985
90                                          . Aliens            91  1986
91                                         . Amadeus            92  1984
92      . Star Wars: Episode VI - Return of the Jedi            93  1983
93                                        . Das Boot            94  1981
94                           . 2001: A Space Odyssey            95  1968
95                              . North by Northwest            96  1959
96                                         . Vertigo            97  1958
97                             . Singin' in the Rain            98  1952
98                                    . Citizen Kane            99  1941
99              0. M - Eine Stadt sucht einen Mörder            10  1931

[100 rows x 3 columns]

#### Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [145]:
Indian_movies =[] #empty list

indian_movies_name = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
soup = BeautifulSoup(indian_movies_name.content, 'html.parser')

In [146]:
indian_movies_name = soup.find_all("td", class_="titleColumn") 
    
for i in indian_movies_name:
    Indian_movies.append(i.text.replace("\n"," "))
        
#Indian_movies

In [147]:
Top_Indian_Movies =pd.DataFrame({})
Top_Indian_Movies['Name'] = Indian_movies

In [23]:
#creating the new column IMDB ranking 

Top_Indian_Movies['IMDB_Ranking']= Top_Indian_Movies['Name'].str[6:10]
Top_Indian_Movies['Year']= Top_Indian_Movies['Name'].str[-6:-2]
Top_Indian_Movies['Name']= Top_Indian_Movies['Name'].str[9:-7]
#Top_Indian_Movies['IMDB_Ranking']
#Movies['Year']

In [24]:
Top_Indian_Movies.head(100)

                                          Name IMDB_Ranking  Year
0                             Pather Panchali           1.   1955
1                                     Nayakan           2.   1987
2                           Pariyerum Perumal           3.   2018
3                                  Anbe Sivam           4.   2003
4                                     Golmaal           5.   1979
5                                 Apur Sansar           6.   1959
6                           C/o Kancharapalem           7.   2018
7                                    Kireedam           8.   1989
8                            Manichitrathazhu           9.   1993
9                           .       Natsamrat           10.  2016
10                         .       Drishyam 2           11.  2021
11                                 .       96           12.  2018
12                       .       Black Friday           13.  2004
13                       .       Thevar Magan           14.  1992
14                  .       Kumbalangi Nights           15.  2019
15                           .       3 Idiots           16.  2009
16                         .       Visaaranai           17.  2015
17                   .       Taare Zameen Par           18.  2007
18                             .       Jersey           19.  2019
19                           .       Ratsasan           20.  2018
20                         .       Thalapathi           21.  1991
21                             .       Dangal           22.  2016
22                    .       Soorarai Pottru           23.  2020
23                             .       Asuran           24.  2019
24                             .       Kaithi           25.  2019
25                          .       Aparajito           26.  1956
26                          .       Devasuram           27.  1993
27                 .       Jaane Bhi Do Yaaro           28.  1983
28                             .       Pyaasa           29.  1957
29                            .       Peranbu           30.  2018
..                                         ...          ...   ...
70                        .       Ustad Hotel           71.  2012
71                 .       Nil Battey Sannata           72.  2015
72             .       Jo Jeeta Wohi Sikandar           73.  1992
73                          .       Charulata           74.  1964
74                           .       Drishyam           75.  2015
75                      .       Mughal-E-Azam           76.  1960
76            .       Maheshinte Prathikaaram           77.  2016
77           .       Zindagi Na Milegi Dobara           78.  2011
78                         .       Article 15           79.  2019
79                              .       Udaan           80.  2010
80                        .       A Wednesday           81.  2008
81           .       Theeran adhigaaram ondru           82.  2017
82                              .       Queen           83.  2013
83                             .       Masaan           84.  2015
84                          .       Sarfarosh           85.  1999
85                .       Munna Bhai M.B.B.S.           86.  2003
86                      .       Alai Payuthey           87.  2000
87                     .       Dil Chahta Hai           88.  2001
88                               .       Roja           89.  1992
89                    .       OMG: Oh My God!           90.  2012
90                             .       Baasha           91.  1995
91                    .       Rang De Basanti           92.  2006
92  .       Lagaan: Once Upon a Time in India           93.  2001
93                            .       Kahaani           94.  2012
94                    .       Andaz Apna Apna           95.  1994
95                         .       Chhichhore           96.  2019
96           .       Uri: The Surgical Strike           97.  2018
97                          .       Virumandi           98.  2004
98                                 .       PK           99.  2014
99                             0.       Lucia           100  2013

[100 rows x 3 columns]

### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [89]:
Book_names =[] #empty list

book = requests.get("https://bookpage.com/reviews")
soup = BeautifulSoup(book.content, 'html.parser')

In [55]:
book = soup.find_all("h4", class_="italic") #scarp th book names
Book_names=[]

for i in book:
    Book_names.append(i.text.replace("\n"," "))
        
len(Book_names)

Book_names=Book_names[:7]

In [56]:
book_author = soup.find_all("p", class_="sans bold") 
Book_Author=[]

for i in book_author:
    Book_Author.append(i.text.replace("\n"," "))
        
#Book_Author
len(Book_Author)
Book_Author=Book_Author[:7]

In [57]:
genre = soup.find_all("p", class_="genre-links hidden-phone")
Genre = [ ]
for i in genre:
    Genre.append(i.text.replace("\n"," "))
        
#Genre
len(Genre)
Genre =Genre[:7]

In [58]:
review =requests.get('https://bookpage.com/reviews/')
soup =BeautifulSoup(review.content, 'html.parser')

url_tags =soup.find_all("div", class_="read-full") #Extract next page URl
#url_tags

In [59]:
urls =[]
for i in url_tags:
    for j in i.find_all("a"):
        urls.append(j['href'])
#urls

In [60]:
#scarp data from multiple pages
URL = ['https://bookpage.com/reviews/26318-curtis-manley-rescuer-tiny-creatures-childrens#.YLZPaagzbDc','https://bookpage.com/reviews/26318-curtis-manley-rescuer-tiny-creatures-childrens#.YLZPaagzbDc',
       'https://bookpage.com/reviews/26295-kristen-arnett-with-teeth-fiction#.YLZPsKgzbDc','https://bookpage.com/reviews/26359-t-l-huchu-library-dead-science-fiction-fantasy',
       'https://bookpage.com/reviews/26323-caroline-odonoghue-all-our-hidden-gifts-ya#.YLZP7KgzbDc','https://bookpage.com/reviews/26302-jess-mchugh-americanon-nonfiction#.YLZQD6gzbDc',
       'https://bookpage.com/reviews/26321-nghi-vo-chosen-beautiful-science-fiction-fantasy#.YLZQLKgzbDc']

Review =[ ] #empty list

for url in URL:
    review = requests.get(url)
    soup = BeautifulSoup(review.text, 'html.parser')
    
    review = soup.find_all("div", class_="article-body") 
    
    for i in review:
        Review.append(i.text.replace("\n"," "))
len(Review)
Review =Review[:7]

In [61]:
Book_details =pd.DataFrame({'Book_Names':[ ],'Book_Author':[ ],'Book_review':[ ],'Genre': [ ]})

In [63]:
Book_details['Book_Names'] = Book_names

In [64]:
Book_details['Book_Author'] = Book_Author

In [65]:
Book_details['Genre'] = Genre

In [66]:
Book_details['Book_review'] = Review

In [67]:
Book_details.head()

,Book_Names,Book_Author,Book_review,Genre
0,★ Walking on Cowrie Shells,Nana Nkweti,"Red-haired, inquisitive Roberta is a budding...",Fiction / Short Stories
1,Malibu Rising,Taylor Jenkins Reid,"Red-haired, inquisitive Roberta is a budding...",Fiction / Popular Fiction
2,Both Can Be True,Jules Machias,Kristen Arnett delivers a fantastic follow-u...,Children's / Middle Grade
3,★ The One Hundred Years of Lenni and Margot,Marianne Cronin,T.L. Huchu’s first installment of the Edinbu...,Fiction / Popular Fiction
4,We Can’t Keep Meeting Like This,Rachel Lynn Solomon,When Maeve is tasked with cleaning out a sto...,YA / YA Fiction

#### 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

a. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [148]:
#scarp data from multiple pages

cricket = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup = BeautifulSoup(cricket.content, 'html.parser')

In [149]:
cricket = soup.find_all("tr", class_="table-body") 
Top10_team = []

for i in cricket:
    Top10_team.append(i.text.replace("\n"," "))
        
#Top10_team

In [150]:
import pandas as pd

Top10_teams =pd.DataFrame({})
Top10_teams['Team_Names'] = Top10_team

In [151]:
#Top10_teams[['Rank','team_names','Matches','Points','Rating']] = Top10_teams["Team_Names"].str.split(" ", 1, expand=True)
#Top10_teams["Team_Names"] = Top10_teams["Team_Names"].str.strip(" ")
#Top10_teams[['Rank','team_names']] = Top10_teams['Team_Names'].str.split(n=1, expand=True)
#df['col2'] = df['col2'].str.split().str[-1]
#print(Top10_teams)

#Top10_teams[['Rank','team_names','Matches','Points','Rating']] = Top10_teams.Team_Names.str.extract(' (.*\d+)\s-?\s?(.*)', expand=True)

#keeptemp  =  Top10_teams['Team_Names'].str.split('\n {4,}', expand = T)

In [152]:
Top10_teams["Team_Names"]

0        2   Australia AUS  25 2,945 118
1            3   India IND  29 3,344 115
2          4   England ENG  27 3,100 115
3      5   South Africa SA  20 2,137 107
4          6   Pakistan PAK  24 2,323 97
5        7   Bangladesh BAN  27 2,438 90
6        8   West Indies WI  27 2,222 82
7          9   Sri Lanka SL  24 1,876 78
8      10   Afghanistan AFG  17 1,054 62
9         11   Netherlands NED  5 249 50
10           12   Ireland IRE  19 807 42
11          13   Zimbabwe ZIM  15 588 39
12           14   Scotland SCO  7 258 37
13               15   Oman OMA  7 240 34
14              16   Nepal NEP  5 119 24
15                17   UAE UAE  9 190 21
16             18   Namibia NAM  6 97 16
17       19   United States USA  8 93 12
18      20   Papua New Guinea PNG  5 0 0
Name: Team_Names, dtype: object

In [73]:
Top10_teams['Team_rank']= Top10_teams['Team_Names'].str[1:4]
Top10_teams['Rating']= Top10_teams['Team_Names'].str[-4:-1]
Top10_teams['Points']= Top10_teams['Team_Names'].str[-10:-5]
Top10_teams['Matches']= Top10_teams['Team_Names'].str[-13:-10]
Top10_teams['Team_Names']= Top10_teams['Team_Names'].str[2:20]

In [51]:
Top10_teams.head(10)

           Team_Names Team_rank Rating Points Matches
0     Australia AUS         2      118  2,945     25
1     India IND  29 3       3      115  3,344     29
2     England ENG  27       4      115  3,100     27
3     South Africa SA       5      107  2,137     20
4     Pakistan PAK  2       6       97   2,32      24
5     Bangladesh BAN        7       90   2,43      27
6     West Indies WI        8       82   2,22      27
7     Sri Lanka SL  2       9       78   1,87      24
8  0   Afghanistan AF       10      62   1,05      17
9  1   Netherlands NE       11      50   5 24     ED

##### B. Top 10 ODI Batsmen in men along with the records of their team and rating.

In [153]:
#scarp data from multiple pages

cricket_player = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
soup = BeautifulSoup(cricket_player.content, 'html.parser')

In [154]:
cricket_player = soup.find_all("td", class_="table-body__cell rankings-table__name name") 
Top_player_names = []

for i in cricket_player:
    Top_player_names.append(i.text.replace("\n"," "))        
#Top_player_names

In [155]:
cricket_player = soup.find_all("td", class_="table-body__cell nationality-logo rankings-table__team") 
player_country = []

for i in cricket_player:
    player_country.append(i.text.replace("\n"," "))   
#player_country

In [156]:
cricket_player = soup.find_all("td", class_="table-body__cell rating") 
Rating = []

for i in cricket_player:
    Rating.append(i.text.replace("\n"," "))    
#Rating

In [157]:
cricket_player = soup.find_all("td", class_="table-body__cell table-body__cell--position u-text-right") 
Rank = []

for i in cricket_player:
    Rank.append(i.text.replace("\n"," "))

In [158]:
Top_Batsman =pd.DataFrame({})
Top_Batsman['Rank'] = Rank
Top_Batsman['Top_player_names'] = Top_player_names
Top_Batsman['player_country'] = player_country
Top_Batsman['Rating'] = Rating

In [159]:
Top_Batsman.head(10)

,Rank,Top_player_names,player_country,Rating
0,2,Virat Kohli,IND,857
1,3,Rohit Sharma,IND,825
2,4,Ross Taylor,NZ,801
3,5,Aaron Finch,AUS,791
4,6,Jonny Bairstow,ENG,785
5,7,Fakhar Zaman,PAK,778
6,,Francois du Plessis,SA,778
7,9,David Warner,AUS,773
8,,Shai Hope,WI,773
9,11,Quinton de Kock,SA,756

#### iii)  Top 10 ODI bowlers along with the records of their team and rating.

In [164]:
#scarp data from multiple pages

cricket_player = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
soup = BeautifulSoup(cricket_player.content, 'html.parser')

In [165]:
cricket_player = soup.find_all("td", class_="table-body__cell rankings-table__name name")
Top_player_names = []

for i in cricket_player:
    Top_player_names.append(i.text.replace("\n"," "))      
#Top_player_names

In [168]:
cricket_player = soup.find_all("td", class_="table-body__cell nationality-logo rankings-table__team")
player_country = []

for i in cricket_player:
    player_country.append(i.text.replace("\n"," "))   
#player_country

In [169]:
cricket_player = soup.find_all("td", class_="table-body__cell rating")
Rating = []

for i in cricket_player:
    Rating.append(i.text.replace("\n"," "))   
#Rating

In [170]:
cricket_player = soup.find_all("td", class_="table-body__cell table-body__cell--position u-text-right") 
Rank = []

for i in cricket_player:
    Rank.append(i.text.replace("\n"," "))

In [171]:
Top_Bowlers =pd.DataFrame({})
Top_Bowlers['Rank'] = Rank
Top_Bowlers['Top_player_names'] = Top_player_names
Top_Bowlers['player_country'] = player_country
Top_Bowlers['Rating'] = Rating

In [172]:
Top_Bowlers.head(10)

,Rank,Top_player_names,player_country,Rating
0,2,Mehedi Hasan,BAN,713
1,3,Mujeeb Ur Rahman,AFG,708
2,4,Matt Henry,NZ,691
3,5,Jasprit Bumrah,IND,690
4,6,Kagiso Rabada,SA,666
5,7,Chris Woakes,ENG,665
6,8,Josh Hazlewood,AUS,660
7,9 Thi...,Pat Cummins,AUS,646
8,10 Th...,Mustafizur Rahman,BAN,645
9,11,Mohammad Amir,PAK,638

### Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: 
 Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [173]:
#Scraping the 10 ODI teams in women’s cricket
cricket = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup = BeautifulSoup(cricket.content, 'html.parser')

In [174]:
cricket = soup.find_all("td", class_="table-body__cell table-body__cell--position u-text-right")
Ranking = []

for i in cricket:
    Ranking.append(i.text.replace("\n"," "))    
len(Ranking)

9

In [175]:
cricket = soup.find_all("span", class_="u-hide-phablet") 
Country = []

for i in cricket:
    Country.append(i.text.replace("\n"," "))
    
Country=Country[:9]

In [176]:
len(Country)

9

In [177]:
cricket = soup.find_all("td", class_="table-body__cell u-text-right rating") 
Rating = []

for i in cricket:
    Rating.append(i.text.replace("\n"," "))
    
len(Rating)

9

In [178]:
cricket = soup.find_all("td", class_="table-body__cell u-center-text") 
Matches_and_Point = []

for i in cricket:
    Matches_and_Point.append(i.text.replace("\n"," "))
    
len(Matches_and_Point)
Matches_and_Point = Matches_and_Point[:9]

In [179]:
Top_Women_Team =pd.DataFrame({})

Top_Women_Team['Ranking'] = Ranking
Top_Women_Team['Country'] = Country
Top_Women_Team['Rating'] = Rating
Top_Women_Team['Matches_and_Point'] = Matches_and_Point
Top_Women_Team.head(9)

  Ranking       Country Rating Matches_and_Point
0       2     Australia    118                24
1       3  South Africa    117             2,828
2       4       England    111                17
3       5         India     93             1,993
4       6   New Zealand     85                20
5       7   West Indies     73             2,226
6       8      Pakistan     61                21
7       9    Bangladesh     47             1,947
8      10     Sri Lanka     13                12

### 2.Top 10 women’s ODI players along with the records of their team and rating.

In [180]:
#scrap the ODI players 

cricket_player = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
soup = BeautifulSoup(cricket_player.content, 'html.parser')

In [181]:
cricket_player = soup.find_all("td", class_="table-body__cell rankings-table__name name") 
Top_player_names = []

for i in cricket_player:
    Top_player_names.append(i.text.replace("\n"," "))
        
#Top_player_names

In [182]:
cricket_player = soup.find_all("td", class_="table-body__cell nationality-logo rankings-table__team")
player_country = []

for i in cricket_player:
    player_country.append(i.text.replace("\n"," "))   
#player_country

In [183]:
cricket_player = soup.find_all("td", class_="table-body__cell rating") 
Rating = []

for i in cricket_player:
    Rating.append(i.text.replace("\n"," "))   
#Rating

In [184]:
cricket_player = soup.find_all("td", class_="table-body__cell table-body__cell--position u-text-right") 
Rank = []

for i in cricket_player:
    Rank.append(i.text.replace("\n"," "))
#Rank

In [185]:
Top_Women_Batsman =pd.DataFrame({})

Top_Women_Batsman['Rank'] = Rank
Top_Women_Batsman['Top_player_names'] = Top_player_names
Top_Women_Batsman['player_country'] = player_country
Top_Women_Batsman['Rating'] = Rating
Top_Women_Batsman.head(10)

,Rank,Top_player_names,player_country,Rating
0,2,Lizelle Lee,SA,758
1,3,Alyssa Healy,AUS,756
2,4,Stafanie Taylor,WI,746
3,5,Meg Lanning,AUS,723
4,6,Amy Satterthwaite,NZ,715
5,7,Smriti Mandhana,IND,710
6,8,Mithali Raj,IND,709
7,9 Thi...,Natalie Sciver,ENG,685
8,10 Th...,Laura Wolvaardt,SA,683
9,11 Th...,Ellyse Perry,AUS,679

### iii)  Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [186]:
#scarp data from multiple pages

cricket_player = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup = BeautifulSoup(cricket_player.content, 'html.parser')

In [187]:
cricket_player = soup.find_all("td", class_="table-body__cell rankings-table__name name") #scarp the top players 
Top_player_names = []

for i in cricket_player:
    Top_player_names.append(i.text.replace("\n"," "))
        
#Top_player_names

In [188]:
cricket_player = soup.find_all("td", class_="table-body__cell nationality-logo rankings-table__team") 
player_country = []

for i in cricket_player:
    player_country.append(i.text.replace("\n"," "))
    
#player_country

In [189]:
cricket_player = soup.find_all("td", class_="table-body__cell rating") #scarp the players
Rating = []

for i in cricket_player:
    Rating.append(i.text.replace("\n"," "))
    
#Rating

In [190]:
cricket_player = soup.find_all("td", class_="table-body__cell table-body__cell--position u-text-right") 
Rank = []

for i in cricket_player:
    Rank.append(i.text.replace("\n"," "))

In [191]:
Top_All_rounder =pd.DataFrame({})
Top_All_rounder['Rank'] = Rank
Top_All_rounder['Top_player_names'] = Top_player_names
Top_All_rounder['player_country'] = player_country
Top_All_rounder['Rating'] = Rating
Top_All_rounder.head(11)

,Rank,Top_player_names,player_country,Rating
0,This player has moved down in the ranking...,Ellyse Perry,AUS,418
1,3,Stafanie Taylor,WI,410
2,4,Natalie Sciver,ENG,349
3,5,Deepti Sharma,IND,343
4,6,Jess Jonassen,AUS,307
5,7,Ashleigh Gardner,AUS,252
6,8 Thi...,Dane van Niekerk,SA,243
7,9 Thi...,Sophie Devine,NZ,242
8,10 Th...,Amelia Kerr,NZ,236
9,,Katherine Brunt,ENG,236
10,12,Shikha Pandey,IND,204

### Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The 
scraped data should include Product Name, Price, Image URL and Average Rating

In [125]:
pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (4.3.2)
Note: you may need to restart the kernel to use updated packages.

In [189]:
#Scraping the amazon website 
Amazon = requests.get("https://www.amazon.in/s?k=under+20000+best+smartphone&crid=3AF2MHZJF09WN&sprefix=under+20000%2Caps%2C556&ref=nb_sb_ss_ts-doa-p_1_11")
soup = BeautifulSoup(Amazon.content, 'lxml')
Amazon

In [192]:
title = soup.find("span", attrs={"id": 'productTitle'})
title

In [215]:
Amazon = soup.find_all("h2", class_="a-size-mini a-spacing-none a-color-base s-line-clamp-2") 
Mobiles_names = []

for i in Amazon:
    Mobiles_names.append(i.text.strip())
        
len(Mobiles_names)

16

In [214]:
Amazon = soup.find_all("span", class_="a-price-whole") 
Mobiles_Price = []

for i in Amazon:
    Mobiles_Price.append(i.text.replace("\n"," "))
        
len(Mobiles_Price)

16

In [216]:
Amazon = soup.find_all("span", class_="a-icon-alt") 
Rating = []

for i in Amazon:
    Rating.append(i.text.replace("\n"," "))
        
len(Rating)

# selecting only first 16 elements 
Rating = Rating[:16]

In [217]:
Mobiles =pd.DataFrame({})

Mobiles['Mobiles_names'] = Mobiles_names
Mobiles['Mobiles_Price'] = Mobiles_Price
Mobiles['Rating'] = Rating



Mobiles.head(15)

,Mobiles_names,Mobiles_Price,Rating
0,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","8,999",4.2 out of 5 stars
1,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","11,990",4.2 out of 5 stars
2,"Samsung Galaxy M02s (Black,4GB RAM, 64GB Stora...","9,999",4.1 out of 5 stars
3,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","8,799",4.2 out of 5 stars
4,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...","12,499",4.2 out of 5 stars
5,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","10,999",4.3 out of 5 stars
6,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","14,999",4.3 out of 5 stars
7,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Stor...","14,499",4.1 out of 5 stars
8,"Oppo F17 (Dynamic Orange, 6GB RAM, 128GB Stora...","16,990",4.1 out of 5 stars
9,"Samsung Galaxy M11 (Violet, 4GB RAM, 64GB Stor...","8,999",4.1 out of 5 stars
10,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","11,990",4.2 out of 5 stars
11,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",4.2 out of 5 stars
12,"Vivo Y11 (Agate Red, 3GB RAM, 32GB Storage) wi...","8,990",4.3 out of 5 stars
13,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","8,799",4.2 out of 5 stars
14,"Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)...","8,799",4.2 out of 5 stars

In [ ]:
##Mobiles_name['Mobiles_names'] = Mobiles_name['Mobiles_names'].str.replace(r"(\s*\[.*?\]\s*)", " ").str.strip()
#Mobiles_name['Mobiles_names']

Mobiles_name.loc[Mobiles_names,Mobiles_names].str.replace(r"(\s*\[.*?\]\s*)", " ").str.strip()

### Write a python program to extract information about the local weather from the National Weather Service 
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day 
extended  forecast  display  for  the  city.  The  data  should  include  period,  short  description,  temperature  and 
description.

In [103]:
page =requests.get('https://forecast.weather.gov/MapClick.php?CityName=San+Francisco+Plaza&state=NM&site=ABQ&textField1=33.6933&textField2=-108.766#.YLiTaKgzbDd')
soup = BeautifulSoup(page.content, 'lxml')
page

In [104]:
#  extract all the tags having the job -title
time_period=soup.find_all("p", class_="period-name") 
Time_period = []

for i in time_period:
    Time_period.append(i.text.replace("\n"," "))
        
Time_period

['Overnight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight',
 'Sunday',
 'SundayNight']

In [113]:
weather=soup.find_all("p", class_="short-desc")
Weather = []

for i in weather:
    Weather.append(i.text.replace("\n"," "))
len(Weather)

9

In [121]:
temp=soup.find_all("p", class_="temp temp-low")
temp1=soup.find_all("p", class_="temp temp-high")
Temp1 = []

for i in temp:
    Temp1.append(i.text.replace("\n"," "))
    
for i in temp1:
    Temp1.append(i.text.replace("\n"," "))
    
len(Temp1)
Temp1=Temp1[:9]

In [122]:
Weather_report =pd.DataFrame({ })
Weather_report['Time_period']=Time_period
Weather_report['Weather']=Weather
Weather_report['Temp']= Temp1
Weather_report.head(9)

     Time_period                                  Weather         Temp
0      Overnight                            Partly Cloudy   Low: 48 °F
1       Thursday        Mostly SunnythenScatteredT-storms   Low: 49 °F
2  ThursdayNight                    Slight ChanceT-storms   Low: 49 °F
3         Friday          Partly Sunnythen ChanceT-storms   Low: 50 °F
4    FridayNight  Slight ChanceT-storms thenMostly Cloudy   Low: 48 °F
5       Saturday                             Mostly Sunny  High: 86 °F
6  SaturdayNight                            Mostly Cloudy  High: 84 °F
7         Sunday                             Mostly Sunny  High: 90 °F
8    SundayNight                             Mostly Clear  High: 91 °F

### Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
company name, CTC, and apply dat

In [135]:
#send request to the web server to get the soruce code of the page
page =requests.get('https://internshala.com/fresher-jobs')
soup = BeautifulSoup(page.content, 'lxml')
page

In [140]:
#  extract all the tags having the job -title
titles=soup.find_all('div', class_="heading_4_5 profile") 
job_titles = []

for i in titles:
    job_titles.append(i.text.replace("\n"," "))
        
#job_titles

In [155]:
#  extract all the tags having compnay name
company=soup.find_all('a', class_="link_display_like_text") 
Company = []

for i in company:    
    Company.append(i.text.strip())
        
#Company

In [172]:
#  extract all the tags having CTC
ctc=soup.find_all("div", class_="item_body")
CTC = []

for i in ctc:    
    CTC.append(i.text.strip())
        
CTC

['Starts\xa0Immediately',
 '4 - 8.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '6.62 - 7.95 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "3 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "2 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "2 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.5 LPA',
 "2 Jul' 21",
 'Starts\xa0Immediately',
 '4 - 7 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '4 - 7.2 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '4.5 - 6 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 6.5 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "1 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 3.1 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3.6 - 7 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '5.2 - 7 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "28 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4.2 LPA',
 "28 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '4.2 - 8.2 LPA',
 "28 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 6 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3.6 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "30 Jun' 21",
 'Starts\xa0Immediately',
 '5 - 6.5 LPA',
 "27 Jun' 21",
 'Starts\xa0Immediately',
 '3.25 - 4 LPA',
 "26 Jun' 21",
 'Starts\xa0Immediately',
 '3.75 LPA',
 "26 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "25 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "25 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "25 Jun' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "24 Jun' 21",
 'Starts\xa0Immediately',
 '5 - 8 LPA',
 "24 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "24 Jun' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "24 Jun' 21",
 'Starts\xa0Immediately',
 '4 LPA',
 "24 Jun' 21"]

In [176]:
Job_details =pd.DataFrame({ })

Job_details['Job_title']=job_titles
Job_details['Company']=Company
#Job_details['CTC']=CTC
#We unable to do indexing with data  and ctc

In [174]:
Job_details.head()

,Job_title,Company
0,Business Marketing Manager,MentorBoxx
1,React Native Developer,Runners Planet
2,Research And Communications Associate,"Institute For Governance, Policies & Politics"
3,Data Scientist,ProtonAutoML
4,Data Science Django Developer,Markytics